<h1 class="text-center">Activities</h1>
<h3 class="text-center"></h3>

<div class="container">
  <% @actns.each do |r| %>
    <div class="alert alert-info">
      <a href="/actns/<%= r.id %>">
        Action <%= r.title %>
      </a>
    </div>

  <% end %>
</div>